{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Action Recognition</title>

    <!-- icons cdn link  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" />
    <!-- icon scout cdn  -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <!-- icon scout cdn ends here -->
     
    <!-- icons cdn links end here  -->

    <!-- font syles links  -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet"> 
    <!-- font styles links end here  -->


    <!-- css style sheet link  -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <!-- style sheet link section ends here -->
</head>
<body id="login">

  <!-- ========== nav section starts here =============== -->
  <nav>
    <div class="container nav_container">
        <a href="/" class="logo"><i class="fa fa-thin fa-person-running  fa-2x"></i><span class="logotext">Actions.ai</span></a>
        <ul class="nav_menu navbar">
            <li><a data-active="index" href="/"><i class="fa fa-home" aria-hidden="true"></i> Home</a></li>
            <li><a data-active="ourteam" href="/ourteam"><i class="fa fa-universal-access" aria-hidden="true"></i> OurTeam</a></li>
            <li><a data-active="blogs" href="/blogs"><i class="fa fa-pencil" aria-hidden="true"></i> Blogs</a></li>
            <li><a data-active="contact" href="/contactus"><i class="fa fa-share" aria-hidden="true"></i> ContactUs</a></li>
              </ul>
        <ul class="loglink">
            <li><a data-active="login" class="login" href="/login"><i class="fa fa-sign-in" aria-hidden="true"></i> Login/Signup</a></li> 
        </ul>
        <button class="open_menu_btn"><i class="uil uil-bars"></i></button>
        <button class="close_menu_btn"><i class="uil uil-multiply"></i></button>
    </div>
    <div class="scroll-indicator"></div>
</nav>

<!-- ========== nav section ends here =============== -->

<!-- ========== contact section starts here =============== -->
<main class="main">
    <div class="container">
      <section class="wrapper">
        <div class="close-btn">&times;</div>
        <div class="heading">
          <h1 class="text text-large">Sign In</h1>
          <p class="text text-normal">New user? <span><a href="#" class="text text-links">Create an account</a></span>
          </p>
        </div>
        <form name="signin" class="form">
          <div class="input-control">
            <label for="email" class="input-label" hidden>Email Address</label>
            <input type="email" name="email" id="email" class="input-field" placeholder="Email Address">
          </div>
          <div class="input-control">
            <label for="password" class="input-label" hidden>Password</label>
            <input type="password" name="password" id="password" class="input-field" placeholder="Password">
          </div>
          <div class="input-control">
            <a href="#" class="text text-links">Forgot Password</a>
            <input type="submit" name="submit" class="input-submit" value="Sign In" disabled>
          </div>
        </form>
        <div class="striped">
          <span class="striped-line"></span>
          <span class="striped-text">Or</span>
          <span class="striped-line"></span>
        </div>
        <div class="method">
          <div class="method-control">
            <a href="#" class="method-action">
                <i class="uil uil-google"></i>
              <span>Sign in with Google</span>
            </a>
          </div>
        </div>
      </section>
    </div>
  </main>
 
<!-- ========== contact section ends here =============== -->
<!-- ========== footer section starts here =============== -->
<footer>
    <div class="container footer_container">
        <div class="footer_1">
            <a href="index.html" class="footer_logo"><i class="fa fa-thin fa-person-running  fa-2x"></i>Actions.ai</a>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita, voluptate.</p>
        </div>
        <div class="footer_2">
          <h4>Links</h4>
          <ul class="permalinks">
              <li><a href="/">Home</a></li>
              <li><a href="/ourteam">OurTeam</a></li>
              <li><a href="/blogs">Blogs</a></li>
              <li><a href="/contactus">ContactUs</a></li>
          </ul>
      </div>
        <div class="footer_3">
            <h4>Contact Us</h4>
            <ul class="permalinks">
              <div>
                <p>+923478318273</p>
                <p>rehanasif3454@gmail.com</p>
                <ul class="footer_socials">
                 <a href="#" class="uil uil-facebook-f"></a>
                <a href="#" class="uil uil-instagram-alt"></a>
                <a href="#" class="uil uil-twitter"></a>
                <a href="#" class="uil uil-linkedin-alt"></a>
                </ul>
        
              </div>
            </ul>
        </div>
    </div>

  
    <div class="footer_copyright">
        <small>Copyright &copy; Actions.ai by Asif Rehan</small>
    </div>
</footer>


<!-- ========== footer section ends here =============== -->


    <!-- ========== javascript file link =============== -->

    <script src="{% static 'js/Main.js' %}"></script>

    <!-- ========== javascript file link ends =============== -->


</body>
</html>