{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Our team</title>

    <!-- icons cdn link  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" />
    <!-- icon scout cdn  -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <!-- icon scout cdn ends here -->
     
    <!-- icons cdn links end here  -->

    <!-- font syles links  -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet"> 
    <!-- font styles links end here  -->




    <!-- css style sheet link  -->
    
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/blogs.css' %}">

    <!-- style sheet link section ends here -->
</head>
<body id="blogs">

  <!-- ========== nav section starts here =============== -->
  <nav>
    <div class="container nav_container">
        <a href="/" class="logo"><i class="fa fa-thin fa-person-running  fa-2x"></i><span class="logotext">Actions.ai</span></a>
        <ul class="nav_menu navbar">
            <li><a data-active="index" href="/"><i class="fa fa-home" aria-hidden="true"></i> Home</a></li>
            <li><a data-active="ourteam" href="/ourteam"><i class="fa fa-universal-access" aria-hidden="true"></i> OurTeam</a></li>
            <li><a data-active="blogs" href="/blogs"><i class="fa fa-pencil" aria-hidden="true"></i> Blogs</a></li>
            <li><a data-active="contact" href="/contactus"><i class="fa fa-share" aria-hidden="true"></i> ContactUs</a></li>
              </ul>
        <ul class="loglink">
            <li><a data-active="login" class="login" href="/login"><i class="fa fa-sign-in" aria-hidden="true"></i> Login/Signup</a></li> 
        </ul>
        <button class="open_menu_btn"><i class="uil uil-bars"></i></button>
        <button class="close_menu_btn"><i class="uil uil-multiply"></i></button>
    </div>
    <div class="scroll-indicator"></div>
</nav>

<!-- ========== nav section ends here =============== -->


    
    <!-- ========== ourteam section starts here =============== -->
    <div class="wrapper">
        <div class="content-wrapper">
          <div class="content">
            <div class="poster">
              <div class="poster-title">
                <h1> Article template </h1>
                <div class="line"></div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus voluptate, laboriosam sunt eveniet eius iure, sapiente in maiores quasi saepe quas quisquam obcaecati odio </p>
              </div>
              <div class="poster-buttons">
                <div><svg viewBox="0 0 24 24" width="24" height="24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1"><path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"></path></svg></div>
                <div><svg viewBox="0 0 24 24" width="24" height="24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1"><path d="M17 3a2.828 2.828 0 1 1 4 4L7.5 20.5 2 22l1.5-5.5L17 3z"></path></svg></div>
                <div><svg viewBox="0 0 24 24" width="24" height="24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1"><path d="M19 21l-7-5-7 5V5a2 2 0 0 1 2-2h10a2 2 0 0 1 2 2z"></path></svg></div>
              </div>
            </div>
            <div class="info">
              <div class="block published">
                <div class="mini-title">Published</div>
                12.09.2022
              </div>
              <div class="block published">
                <div class="mini-title">Views</div>
                3 251
              </div>
              <div class="block published">
                <div class="mini-title">Likes</div>
                156
              </div>
              <div class="block published">
                <div class="mini-title">Reading</div>
                12 min
              </div>
            </div>
            <div class="words">
              <p>
                <font class="letter">L</font>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus voluptate, laboriosam sunt eveniet eius iure, sapiente in maiores quasi saepe quas quisquam obcaecati odio exercitationem rerum, molestias aliquid ipsa excepturi laborum quaerat! Tempora necessitatibus culpa possimus maiores doloremque ipsa nemo incidunt, eos alias voluptatibus, minima obcaecati vel qui, repudiandae ullam! Ipsam cupiditate officia molestiae quas praesentium deleniti dolores quia repellat quasi dolore? Nihil distinctio a adipisci dolorem accusantium cupiditate quibusdam in, ipsum laudantium minima vero ad atque sequi earum? Debitis dolore neque a odio mollitia harum blanditiis tempore ea nam? Earum a sed odit consectetur temporibus facere vel, fugit pariatur?</p>
                    <p>
                      <font class="letter">D</font>
              Dolor sit amet, consectetur adipisicing elit. Rem dolorem possimus delectus officia aspernatur rerum repellendus quos necessitatibus sed! Deserunt dolor maxime accusantium, vero nostrum ipsam iure hic repellendus, eum numquam fugiat quo fuga ducimus minima veritatis. Deserunt dolor maxime accusantium, vero nostrum ipsam iure hic repellendus, eum numquam fugiat quo fuga ducimus minima veritatis.</p>
                          <p>
      
                      <font class="letter">S</font>
              Sit amet, consectetur adipisicing elit. Rem dolorem possimus delectus officia aspernatur rerum repellendus quos necessitatibus sed! Deserunt dolor maxime accusantium, vero nostrum ipsam iure hic repellendus, eum numquam fugiat quo fuga ducimus minima veritatis. Deserunt dolor maxime accusantium, vero nostrum ipsam iure hic repellendus, eum numquam fugiat quo fuga ducimus minima veritatis. Dolor sit amet, consectetur adipisicing elit. Rem dolorem possimus delectus officia aspernatur rerum repellendus quos necessitatibus sed! Deserunt dolor maxime accusantium.</p>
              <div class="buttons">
                <div><svg viewBox="0 0 24 24" width="24" height="24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1"><path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"></path></svg></div>
                <div><svg viewBox="0 0 24 24" width="24" height="24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1"><path d="M17 3a2.828 2.828 0 1 1 4 4L7.5 20.5 2 22l1.5-5.5L17 3z"></path></svg></div>  
              </div>
            </div>
            <div class="quote">
              <p> <font class="letter">“</font>
                Nothing could be worse than the fear that one had given up too soon, and left one unexpended effort that might have saved the world.
              </p>
              <p class="author">Jane Addams</p>
            </div>
            <div class="words">
              <p><font class="letter">S</font>
              Sit amet, consectetur adipisicing elit. Rem dolorem possimus delectus officia aspernatur rerum repellendus quos necessitatibus sed! Deserunt dolor maxime accusantium, vero nostrum ipsam iure hic repellendus, eum numquam fugiat quo fuga ducimus minima veritatis. Deserunt dolor maxime accusantium, vero nostrum ipsam iure hic repellendus, eum numquam fugiat quo fuga ducimus minima veritatis. Dolor sit amet, consectetur adipisicing elit. Rem dolorem possimus delectus officia aspernatur rerum repellendus quos necessitatibus sed! Deserunt dolor maxime accusantium,</p>
              <div class="buttons">
                <div><svg viewBox="0 0 24 24" width="24" height="24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1"><path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"></path></svg></div>
                <div><svg viewBox="0 0 24 24" width="24" height="24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1"><path d="M17 3a2.828 2.828 0 1 1 4 4L7.5 20.5 2 22l1.5-5.5L17 3z"></path></svg></div>  
              </div>
            </div>
            <div class="author">
              <div class="image"></div>
            </div>
          </div>
        </div>
        <div class="other_articles">
          <div class="content">
            <div>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus voluptate, laboriosam sunt eveniet eius iure, sapiente in maiores quasi saepe quas quisquam obcaecati odio exercitationem rerum, molestias aliquid ipsa excepturi laborum quaerat! Tempora necessitatibus</div>
            <div>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus voluptate, laboriosam sunt eveniet eius iure, sapiente in maiores quasi saepe quas quisquam obcaecati odio exercitationem rerum, molestias aliquid ipsa excepturi laborum quaerat! Tempora necessitatibus</div>
            </div>
        </div>
      </div>
    <!-- ========== ourteam section ends here =============== -->

<!-- ========== footer section starts here =============== -->
<footer>
    <div class="container footer_container">
        <div class="footer_1">
            <a href="index.html" class="footer_logo"><i class="fa fa-thin fa-person-running  fa-2x"></i>Actions.ai</a>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita, voluptate.</p>
        </div>
        <div class="footer_2">
          <h4>Links</h4>
          <ul class="permalinks">
              <li><a href="/">Home</a></li>
              <li><a href="/ourteam">OurTeam</a></li>
              <li><a href="/blogs">Blogs</a></li>
              <li><a href="/contactus">ContactUs</a></li>
          </ul>
      </div>
        <div class="footer_3">
            <h4>Contact Us</h4>
            <ul class="permalinks">
              <div>
                <p>+923478318273</p>
                <p>rehanasif3454@gmail.com</p>
                <ul class="footer_socials">
                 <a href="#" class="uil uil-facebook-f"></a>
                <a href="#" class="uil uil-instagram-alt"></a>
                <a href="#" class="uil uil-twitter"></a>
                <a href="#" class="uil uil-linkedin-alt"></a>
                </ul>
        
              </div>
            </ul>
        </div>
    </div>

  
    <div class="footer_copyright">
        <small>Copyright &copy; Actions.ai by Hasanat Ahmed Mehmood</small>
    </div>
</footer>


<!-- ========== footer section ends here =============== -->







    <!-- ========== javascript file link =============== -->

    <script src="{% static 'js/Main.js' %}"></script>

    <!-- ========== javascript file link ends =============== -->


</body>
</html>